/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */

/* Utils  */

.border {
    border: 2px dashed black;
}

.w-50 {
    width: 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header  */

header {
    background-color: #ff9800;
}

/* Navbar  */

.navbar {
    height: 60px;
  
    display: flex;
    justify-content: space-between;
}

.navbar > * {
    padding: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Jumbotron */

/* Main and sections  */

/* Footer  */
